.about {
    margin: 1rem auto;
    font-size: 1.25rem;
    font-weight: 300;
    max-width: var(--postWidth);
}

.about h1 {
    font-size: clamp(2rem, 10vw, 4rem);
}

.about p {
    margin: 0.5rem 0;
}