.container {
  margin: 1rem auto 0rem auto;
  font-size: 1.3rem;
  font-weight: 300;
  max-width: var(--postWidth);
  height: 100vh;
}

.container h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  margin-bottom: 1.2rem;
}

.container p {
  margin: 1rem 0;
}

.container a {
  transition: color 0.2s;
  color: var(--link);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    margin: 1rem;
  }

  .container div {
    padding-bottom: 3rem;
  }
}
