.container404 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
