:root {
  --max-width: 1100px;
  --postWidth: 950px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --fontCode: "Azeret Mono", monospace;
  --heroImageHeight: 500px;
  --heroImageHeight-md: 400px;
  --heroImageHeight-sm: 350px;
  --heroImageOverflow: 8rem;
  --font-size-header-footer: 1.6rem;
  --font-size-header-footer-sm: 1.1rem;
  --scrollBar: 7.5px;
  --link-tooltip-color: #333;
}

.light {
  --foreground: #000000;
  --background-start: #fddfa1; /* a warm yellow */
  --background-end: #ffffff;
  --header-bg: #ffdc94;
  --cv-button-bg: #f9c14e;
  --cv-button-bg-hover: #ff9c19;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #ffb34733 0deg,
    #ffa07a33 55deg,
    #fdb81333 120deg,
    #ff8c0033 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );

  --box-shadow-color: #00000015;
  --link: #a04d66;
  --link-hover-color: #8d5710;

  --item-filter: none;

  --tooltip-background-color: #ffe3a7;
  --header-tooltip-color: #333;

  --text-divider: #7d9e8e;

  --home-figure: url(/assets/portrait_light.jpg), #f3e8e5;
}

.dark {
  --foreground: #ffffff;
  --background-start: #171717;
  --background-end: #171717;
  --header-bg: #1e2849;
  --cv-button-bg: #3e5ab7;
  --cv-button-bg-hover: #2145bd;

  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0.2)
  );

  --box-shadow-color: rgba(255, 255, 255, 0.7);
  --link: #8fb6b0;
  --link-hover-color: rgba(255, 255, 255, 0.8);

  --item-filter: invert(0.9);
  --tooltip-background-color: #333;
  --header-tooltip-color: #fff;

  --text-divider: #e45447;

  --home-figure: url(/assets/portrait_dark.jpg), #2f3834;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent 0%,
      var(--background-end) 100%
    )
    var(--background-start);
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 100;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  @supports not (
    background-image:
      linear-gradient(to bottom, transparent 0%, var(--background-end) 100%)
  ) {
    body::before {
      background: var(--background-start);
    }
  }
}
