.container {
  width: 100%;
  font-size: var(--font-size-header-footer);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--header-bg);
  height: 3.5rem;
  box-shadow: 0 1px 0px var(--box-shadow-color);
  padding: 0.5rem 0.8rem;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 2rem;
  height: 2rem;
  border: none;
}

.link {
  margin: 0 1.5rem;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
}

.button {
  cursor: pointer;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  border: none;
}

@media (max-width: 768px) {
  .container {
    font-size: var(--font-size-header-footer-sm);
    align-items: center;
  }

  .link {
    text-align: center;
  }

  .links {
    align-items: center;
  }
}
