.hero {
  margin-bottom: 2rem;
  padding-top: 0;
  grid-template-columns: 40% 1fr;
}

.grid {
  display: grid;
  gap: 2rem;
}

.home_text {
  align-self: center;
  margin: 0 auto;
}

.text {
  font-size: clamp(2rem, 6vw, 4rem);
  line-height: 1.25;
  text-rendering: geometricPrecision;
}

.text span {
  display: block;
}

.text_thin {
  font-family: var(--fontCode);
  font-size: clamp(1.1rem, 3vw, 1.9rem);
  margin: 0.5rem 0 0;
  font-weight: 200;
}

.link_bar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.link {
  list-style: none;
  filter: var(--item-filter);
}

.figure {
  background: var(--home-figure);
  background-size: cover;
  background-position: center;
  height: var(--heroImageHeight);
  margin-bottom: calc(-1 * var(--heroImageOverflow));
  border-radius: 10rem 10rem 0 0;
  width: clamp(100px, 400px, 500px);
  margin-left: auto;
  margin-right: 5rem;
  position: relative;
  transform-style: preserve-3d;
  z-index: 1;
}

@media (max-width: 1100px) {
  .img {
    height: auto;
    aspect-ratio: 2/3;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: clamp(1.2rem, 4vw, 2.5rem);
  }

  .text_thin {
    font-size: clamp(0.8rem, 3vw, 1.2rem);
  }

  .home_text {
    max-width: 90%;
  }

  .link_bar {
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin: 0.5rem 0;
  }

  .figure {
    height: var(--heroImageHeight-md);
    max-width: 300px;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .hero {
    grid-template-columns: 1fr;
    padding: 1rem 0 2rem;
  }

  .text {
    font-size: clamp(2.4rem, 10vw, 4rem);
    margin-top: 1rem;
  }

  .text span {
    font-size: clamp(2rem, 8vw, 3rem);
  }

  .text_thin {
    font-size: clamp(1.1rem, 3vw, 1.9rem);
  }

  .link_bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .link {
    margin: 0;
  }

  .figure {
    height: var(--heroImageHeight-sm);
    width: 70%;
    max-width: 300px;
    margin-bottom: 0;
    margin-right: 3rem;
    background-size: cover;
    aspect-ratio: 3/4;
  }
}
