.tooltip_container {
  position: relative;

  .tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    font-size: 0.8rem;
    border-radius: 0.25rem;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: -0.5rem;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--tooltip-background-color);
      z-index: -1;
    }
  }

  &:hover .tooltip {
    opacity: 1;
  }
}
